<div class="modal" tabindex="-1" [ngClass]="{'show': isVisible}" style="display: block;" *ngIf="isVisible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ user.id === 0 ? 'Add user' : 'Edit user' }}</h5>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveNewUser()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
                    </div>
                    <div class="mb-3" *ngIf="user.id === 0">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-control" id="role" [(ngModel)]="user.role" name="role">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary ms-1">Save</button>
                    <button class="btn btn-secondary ms-1" (click)="close()">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
